{% extends "account.master_no_header" %}

{% block user_area %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/2c7a93b259.js"></script>

  <section class="seller-profile">
    <div class="seller-profile__started-heading">
     <h3>Getting Started</h3>
     <p>Thank you for registering to sell on Afianyi.
      Please complete the following tasks for your store to be approved to go live.</p>
    </div>
    <div class="seller-profile__started">
     <nav class="seller-profile__started-nav">
      <div class="nav" id="nav-tab" role="tablist">
       <a class="seller-profile__started-tab seller-profile__started-tab-active" id="nav-terms-tab"
       data-toggle="tab" href="#nav-terms" role="tab" aria-controls="nav-terms" aria-selected="true">
       <svg class="icon icon-checked">
         <use xlink:href="#icon-checked"></use>
       </svg>
       <p>Terms & Conditions</p>
     </a>
     <a class="seller-profile__started-tab" id="nav-how-it-works-tab" aria-disabled="true" data-toggle="tab"
     href="#nav-how-it-works" role="tab" aria-controls="nav-how-it-works" aria-selected="false">
     <svg class="icon icon-checked">
       <use xlink:href="#icon-checked"></use>
     </svg>
     <p>How it Works</p>
   </a>
   <a class="seller-profile__started-tab" id="nav-valid-id-tab" data-toggle="tab" href="#nav-valid-id"
   role="tab" aria-controls="nav-valid-id" aria-selected="false">
   <svg class="icon icon-checked">
     <use xlink:href="#icon-checked"></use>
   </svg>
   <p>Upload Valid ID</p>
 </a>
 {#<a class="seller-profile__started-tab" id="nav-profile-pics-tab" data-toggle="tab" href="#nav-profile-pics"#}
 {#role="tab" aria-controls="nav-profile-pics" aria-selected="false">#}
 {#<svg class="icon icon-checked">#}
 {#<use xlink:href="#icon-checked"></use>#}
 {#</svg>#}
 {#<p>Upload a Profile Picture</p>#}
 {#</a>#}
 <a class="seller-profile__started-tab" id="nav-verify-bank-tab" data-toggle="tab" href="#nav-verify-bank"
 role="tab" aria-controls="nav-verify-bank" aria-selected="false">
 <svg class="icon icon-checked">
   <use xlink:href="#icon-checked"></use>
 </svg>
 <p> Bank Account Details</p>
</a>
</div>

</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active seller-profile__started-content-wrapper" id="nav-terms" role="tabpanel"
  aria-labelledby="nav-terms-tab">
  <p>Please read through the terms & conditions</p>
  <div class="seller-profile__started-content">
    <h3>Afiaanyi Merchant Service Agreement</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
     labore et dolore magna aliqua. Vitae justo eget magna fermentum iaculis eu non diam. Nisl
     rhoncus mattis rhoncus urna. Ultricies lacus sed turpis tincidunt id. Et sollicitudin ac
     orci phasellus egestas tellus rutrum. Neque egestas congue quisque egestas diam in arcu
     cursus. Sed cras ornare arcu dui vivamus arcu. Id leo in vitae turpis. Suspendisse potenti
     nullam ac tortor vitae purus. Risus in hendrerit gravida rutrum quisque non tellus orci.

     Massa sapien faucibus et molestie. Nec sagittis aliquam malesuada bibendum arcu vitae
     elementum curabitur. Sed elementum tempus egestas sed sed risus. Volutpat sed cras ornare
     arcu dui vivamus arcu. Malesuada bibendum arcu vitae elementum. Facilisis mauris sit amet
     massa vitae tortor. Eu non diam phasellus vestibulum lorem sed risus ultricies. Tincidunt
     id aliquet risus feugiat in. Lectus vestibulum mattis ullamcorper velit. Turpis cursus in
     hac habitasse. Tempor id eu nisl nunc. Nisl vel pretium lectus quam id leo in vitae turpis.
     Elementum pulvinar etiam non quam lacus suspendisse faucibus. Quis eleifend quam adipiscing
     vitae proin.

     Adipiscing elit ut aliquam purus sit amet luctus. Morbi tempus iaculis urna id. Scelerisque
     eleifend donec pretium vulputate. Sed egestas egestas fringilla phasellus faucibus
     scelerisque. Consequat nisl vel pretium lectus. Eget gravida cum sociis natoque penatibus
     et magnis dis. Nec ultrices dui sapien eget mi proin sed libero. Eleifend mi in nulla
     posuere sollicitudin. Quam quisque id diam vel quam elementum pulvinar. Adipiscing bibendum
     est ultricies integer quis. Massa vitae tortor condimentum lacinia quis vel. Morbi quis
     commodo odio aenean sed adipiscing diam donec adipiscing. Proin fermentum leo vel orci
     porta non pulvinar neque. Morbi leo urna molestie at elementum eu facilisis sed. Id diam
     vel quam elementum pulvinar etiam non quam. Viverra maecenas accumsan lacus vel. Id diam
     maecenas ultricies mi eget mauris pharetra et ultrices. Massa tempor nec feugiat nisl
     pretium fusce id velit.

     Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Velit sed ullamcorper morbi
     tincidunt ornare. Congue quisque egestas diam in arcu cursus euismod quis viverra. Laoreet
     sit amet cursus sit amet dictum sit amet. Vitae congue mauris rhoncus aenean vel elit
     scelerisque. Nec ullamcorper sit amet risus nullam eget felis eget. Porttitor lacus luctus
     accumsan tortor posuere ac ut. Non diam phasellus vestibulum lorem sed risus ultricies
     tristique. Posuere sollicitudin aliquam ultrices sagittis. Nulla facilisi cras fermentum
     odio eu. Amet massa vitae tortor condimentum lacinia quis vel eros. Sagittis aliquam
     malesuada bibendum arcu. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. In
     ornare quam viverra orci sagittis eu volutpat odio. Tristique nulla aliquet enim tortor at
     auctor urna. Facilisis sed odio morbi quis commodo odio. Turpis massa sed elementum tempus
     egestas sed sed risus. Lectus nulla at volutpat diam ut venenatis tellus. Aenean pharetra
     magna ac placerat vestibulum lectus.

     Morbi blandit cursus risus at ultrices. Odio ut sem nulla pharetra diam sit amet. Elementum
     nibh tellus molestie nunc non blandit. Urna et pharetra pharetra massa massa. Scelerisque
     in dictum non consectetur a. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id.
     Lacus sed viverra tellus in hac. Non quam lacus suspendisse faucibus interdum posuere
     lorem. Eget dolor morbi non arcu risus quis. Id nibh tortor id aliquet lectus proin.
     Penatibus et magnis dis parturient montes. Dignissim convallis aenean et tortor at risus.
     Purus faucibus ornare suspendisse sed nisi. Arcu ac tortor dignissim convallis aenean et.
     Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Velit euismod in
     pellentesque massa placerat duis ultricies. Arcu dui vivamus arcu felis bibendum ut
     tristique et. Volutpat diam ut venenatis tellus. Tincidunt nunc pulvinar sapien et ligula
     ullamcorper malesuada.</p>
   </div>
   <div class="d-flex">
    <label class="user-notification__label mr-auto">
     <input type="checkbox" name="new follower" checked>
     <span class="signup__form-subscribe">I agree to the terms and conditions</span>
     <span class="user-notification__checkbox"></span>
   </label>
   <button class="seller-profile__started-button" id="how-it-works-next">Next</button>
 </div>

</div>
<div class="tab-pane fade seller-profile__started-content-wrapper" id="nav-how-it-works" role="tabpanel"
aria-labelledby="nav-how-it-works-tab">
<p>Please read through how Afiaanyi works</p>
<div class="seller-profile__started-content-works">
  <button class="seller-profile__started-content-works-button ml-0" >
    <a href="http://www.africau.edu/images/default/sample.pdf" style="color:white;" download>Download</a>
  </button>
  <p>This document will help you understand the entire system flow and how to find your way
   around</p>
 </div>
 <div class="d-flex">
  <button class="seller-profile__started-button ml-auto" id="valid-id-next">Next</button>
</div>
</div>
<div class="tab-pane fade" id="nav-valid-id" role="tabpanel" aria-labelledby="nav-valid-id-tab">
 <div class="seller-profile__started-content-works p-4">
  <h3>Valid ID can be a scanned copy of either</h3>
  <ul class="seller-profile__started-ids">
   <li>
     <label for="driver-license">Driver's License</label>
   </li>
   <li>
     <label for="national-id">National ID</label>
   </li>
   <li>
     <label for="international-passport">International Passport</label>
   </li>
   <li>
     <label for="other-id">Other valid means of ID</label>
     <p></p>
   </li>
 </ul>   

 <div  id="image" style="width:0 auto; max-height:270px;" >
  <img width="50%" height="50%"  id="preview_image" style="width:0 auto; max-height:250px;" src="{{asset('images/nofile.jpg')}}"/>
  <i id="loading" class="fa fa-spinner fa-spin fa-3x fa-fw" style="position: absolute;left: 55%;top: 85%;display: none"></i>
</div>
<p>
  <a href="javascript:changeProfile()" style="text-decoration: none;">
    <i class="glyphicon glyphicon-edit"></i> Upload Document
  </a>&nbsp;&nbsp;

</p>
<input type="file" id="file" style="display: none"/>
<input type="hidden" id="file_name"/>


<script>
function changeProfile() {
  $('#file').click();
}
$('#file').change(function () {
  if ($(this).val() != '') {
    upload(this);

  }
});
function upload(img) {
  var form_data = new FormData();
  form_data.append('file', img.files[0]);
  form_data.append('_token', '{{csrf_token()}}');
  $('#loading').css('display', 'block');
  $.ajax({
    url: "{{url('uploadFile')}}",
    data: form_data,
    type: 'POST',
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.fail) {
        $('#preview_image').attr('src', '{{asset('images/nofile.jpg')}}');
        alert(data.errors['file']);
      }
      else {
        $('#file_name').val(data);
        $('#preview_image').attr('src', '{{asset('uploads')}}/' + data);
      }
      $('#loading').css('display', 'none');
    },
    error: function (xhr, status, error) {
      alert(xhr.responseText);
      $('#preview_image').attr('src', '{{asset('images/nofile.jpg')}}');
    }
  });
}

</script>
</div>
<div class="d-flex">
  <button  class="seller-profile__started-button ml-auto" id="verify-bank-next">Next</button>
</div>  

</div> 
<div class="tab-pane fade" id="nav-verify-bank" role="tabpanel" aria-labelledby="nav-verify-bank-tab">
 <div class="seller-profile__started-content-works seller-profile__started-verify-bank">
  <button class="seller-profile__started-button seller-profile__started-verify-bank-button"
  data-toggle="modal" data-target="#provide-bank">Provide
  Bank Details</button>
</div>
</div>
</div>
</div>
</section>

<!-- Modal -->
<div class="modal fade verify-bank__modal" id="provide-bank" tabindex="-1" role="dialog" aria-labelledby="provide-bankLabel"
aria-hidden="true">
<div class="modal-dialog verify-bank__modal-dialog" role="document">
 <div class="modal-content verify-bank__modal-content">
  <div class="modal-header verify-bank__modal-header">
   <h5 class="modal-title" id="provide-bankLabel">ENTER YOUR BANK DETAILS</h5>
 </div>
 <div class="modal-body verify-bank__modal-body">
   <p>Please provide account details where your proceeds will go</p>

   <form action="{{ url('account/updateProfile') }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">
    <div class="form-group verify-bank__modal-form">
     <label for="Bank">Bank</label>
     <select name="bank_id" class="form-control">
      <option value="Bank" selected disabled>Select Your Bank</option>
      {% for bank in banks %}

        <option value="{{ bank.id }}">{{ bank.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group verify-bank__modal-form">
   <label for="Account Number">Account Number</label>
   <input type="text" name="account_number" placeholder="Account Number" class="form-control">
   
 </div>
 <div class="form-group verify-bank__modal-form">
   <label for="Account Number">Account Name</label>
   <input type="text" name="account_name" placeholder="Account Name" class="form-control">
 </div>
 {# <button type="button" class="btn verify-bank__modal-proceed" data-toggle="modal" data-target="#subscriptionModal"
 data-dismiss="modal">
 <svg class="icon icon-check">
   <use xlink:href="#icon-check"></use>
 </svg>
 Check Bill
</button> #}
</div>
<div class="modal-footer verify-bank__modal-footer">
 <button type="button" class="btn verify-bank__modal-cancel" data-dismiss="modal">&#10005; Cancel</button>
 <button type="submit" name="submit" class="btn verify-bank__modal-proceed">Proceed</button>

 
</form>

</div>
</div>
</div>
</div>


<style>
[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}
input,
[type=file] + label {
  text-align: left;
  position: relative;
}
</style>

<!-- Subscription Modal -->
<div class="modal fade verify-bank__modal" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel"
aria-hidden="true">
<div class="modal-dialog subscription__modal-dialog" role="document">
 <div class="modal-content subscription__modal-content">

  <div class="modal-body subscription__modal-body">
   <h3 class="subscription__modal-heading">Welcome to the Afiaanyi Stores Subscription Page</h3>

   <p class="subscription__modal-create">Create a store</p>
   <p class="subscription__modal-foraslowas">For as low as</p>
   <h4 class="subscription__modal-price">₦10,000</h4>
   <ul class="payment__categories-individual-todo subscription__modal-benefit">
    <li>
     <div></div>As much as 40 live products
   </li>
   <li>
     <div></div>Built-in features
   </li>
   <li>
     <div></div>Online Store
   </li>
   <li>
     <div></div>Ability to upgrade
   </li>
 </ul>
 <button class="subscription__modal-button">Subscription</button>
</div>

</div>
</div>
</div>
{% endblock %}

{% block page_extrajs %}
  <script>
  $('#how-it-works-next').on('click', function () {
    $('#nav-how-it-works-tab').click();
    $('#nav-terms-tab').addClass('seller-profile__started-tab-active');
  })
  $('#valid-id-next').click(function () {
    $('#nav-valid-id-tab').click();
    $('#nav-how-it-works-tab').addClass('seller-profile__started-tab-active');
  })
  $('#upload-profile-next').on('click', function () {
    $('#nav-profile-pics-tab').click();
    $('#nav-valid-id-tab').addClass('seller-profile__started-tab-active');
  })
  $('#verify-bank-next').on('click', function () {
    $('#nav-verify-bank-tab').click();
    $('#nav-profile-pics-tab').addClass('seller-profile__started-tab-active');
    $('#nav-verify-bank-tab').addClass('seller-profile__started-tab-active');
  })
  </script>
  <script src="{{ asset('themes/' ~  current_theme()  ~ '/seller/assets/js/dropzone.js') }}"></script>

  <script>
  $("[type=file]").on("change", function () {
  // Name of file and placeholder
  var file = this.files[0].name;
  var dflt = $(this).attr("placeholder");
  if ($(this).val() != "") {
    $(this).next().text(file);
  } else {
    $(this).next().text(dflt);
  }
});
  </script>
{% endblock %}
